h1{
    color: rgb(143, 53, 53);
    height: 800px;
    width: 1000px;
    font-size: 500%;
    position: relative;
    right: -750px;
    bottom: -400px;
    font-style: oblique;
}

h2{
    position: relative;
    right: 750px; 
}

body {

    background-image: linear-gradient(to bottom, rgba(255,0,0,0), blue);
  }


@keyframes gradient{
 0% {
        background-position: 0% 50%;
    }

 50% {
        background-position: 100% 50%;
    }

 100% {
        background-position: 0% 50%;
    }

  }
